In [48]:
import pandas as pd

# CSV to dataframe
data = pd.read_csv('namelist.csv',delimiter=';')
print("2022 and 2023 top company:")
display(df)
print()

# Sample DataFrames
df = pd.DataFrame(data)
df1 = df['2022']
df2 = df['2023']

# Union
union_df = pd.concat([df1, df2]).drop_duplicates().reset_index(drop=True)
print("Union of 2022 and 2023:")
print(union_df)

# Difference
diff_df = pd.concat([df1, df2, df2]).drop_duplicates(keep=False).reset_index(drop=True)
print("\nDifference between 2022 and 2023:")
print(diff_df)

# Intersection
intersect_df = df1.merge(df2,left_on = '2022',right_on = '2023')
print("\nIntersection of 2022 and 2023:")
print(intersect_df)

2022 and 2023 top company:

                 2022                   2023
0              Apple               Microsoft
1           Microsoft                  Apple
2        Saudi Aramco               Alphabet
3            Alphabet         Meta Platforms
4              Amazon              Accenture
5  Berkshire Hathaway                 Pfizer
6               Tesla       American Express
7  UnitedHealth Group  Electricite de France
8   Johnson & Johnson              BMW Group
9                Visa      Dell Technologies

Union of 2022 and 2023:
0                    Apple
1                 Microsoft
2              Saudi Aramco
3                  Alphabet
4                    Amazon
5        Berkshire Hathaway
6                     Tesla
7        UnitedHealth Group
8         Johnson & Johnson
9                      Visa
10                    Apple
11           Meta Platforms
12                Accenture
13                   Pfizer
14         American Express
15    Electricite de France
16                BMW Group
17        Dell Technologies
dtype: object

Difference between 2022 and 2023:
0                Apple
1          Saudi Aramco
2                Amazon
3    Berkshire Hathaway
4                 Tesla
5    UnitedHealth Group
6     Johnson & Johnson
7                  Visa
dtype: object

<class 'AttributeError'>: 'Series' object has no attribute 'merge'